---
import type { TIdentity } from "../utils/type"
import '../styles/global.css'
import Navigation from "../components/Navigation.astro"
import Footer from "../components/Social.astro"
import Social from "../components/Social.astro"
import Hamburger from "../components/Hamburger.astro"
import Base from "../layouts/Base.astro"

const pageTitle:string = "About"

const identity:TIdentity = {
	country: "Indonesia",
	firstName: "Benedict",
	lastName: "Ell Nino",
	occupation: "Programmming",
	hobbies: ["Ilustrator", "Software Engineer"]
}

const skills:string[] = ["NextJS", "TailwindCSS", "NestJS", ".NET", "C#"]

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<Base pageTitle={pageTitle}>
	<style define:vars={{skillColor, fontWeight, textCase}}>
		h1 {
		  color: purple;
		  font-size: 4rem;
		}
		.skill {
			color: var(--skillColor);
			font-weight: var(--fontWeight);
			text-transform: var(--textCase);
		}
	  </style>
	  
	  <h1>About Me</h1>
	  <p>Here are a few facts about me:</p>
	  <ul>
		  <li>My name is {identity.firstName}.</li>
		  <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
		  {identity.hobbies.length >= 2 &&
			  <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
		  }
		  </ul>
		  <p>My skills are:</p>
	  <ul>
	  {skills.length >= 5 ? skills.map((skill) => <li class="skill">{skill}</li>) : null}
	  </ul>
</Base>

